In [2]:
from bs4 import BeautifulSoup
import requests
import time
import datetime

import smtplib

In [3]:
url='https://www.amazon.com/dp/B07FNW9FGJ?_encoding=UTF8&customId=B0752XJYNL&customizationToken=MC_Assembly_1%23B0752XJYNL&th=1'
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

In [4]:

page = requests.get(url, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

# .= BeautifulSoup(page.content, "html.parser")

# soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id='productTitle').get_text()



url = "https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1&customizationToken=MC_Assembly_1%23B0752XJYNL"

# Send a GET request to the URL
page = requests.get(url)

# Check if the request was successful
if page.status_code == 200:
    # Parse the HTML content
    soup1 = BeautifulSoup(page.content, "html.parser")
    
    # Make it pretty for easier reading and parsing
    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
    
    # Find the title of the product
    title = soup2.find(id='productTitle').get_text()
    
    # Find the span with class "a-price-whole" to get the whole number part of the price
    price_whole = soup2.find('span', class_='a-price-whole').text.strip().replace('\n', '')
    
    # Find the span with class "a-price-fraction" to get the fraction part of the price
    price_fraction = soup2.find('span', class_='a-price-fraction').text.strip().replace('\n', '')
    
    # Combine the whole and fraction parts to get the complete price
    price = f"${price_whole}.{price_fraction}"
    
    # Print the title and price
    
else:
    print("Failed to retrieve the webpage")

In [5]:
price=price.strip()[1:]
price

'16                                                                   ..99'

In [6]:
title=title.strip()

In [7]:
price

'16                                                                   ..99'

In [13]:
import datetime

today = datetime.date.today()

print(today)

2024-06-08

In [51]:
import csv 

header = ['Title', 'Price','Date' ]
data = [title, price,today]


with open('AmazonWebScraperDataset.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [56]:
import pandas as pd
df=pd.read_csv(r"C:\Users\a2z\Desktop\data anyalyst from job\python\AmazonWebScraperDataset.csv")
df

,Title,Price,Date
0,Funny Got Data MIS Data Systems Business Analy...,16 ...,2024-06-08
1,Funny Got Data MIS Data Systems Business Analy...,16 ...,2024-06-08
2,Funny Got Data MIS Data Systems Business Analy...,16 ...,2024-06-08
3,Funny Got Data MIS Data Systems Business Analy...,16 ...,2024-06-08

In [55]:
# APPENDING DATA
with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [57]:
def cheque_price():
    url='https://www.amazon.com/dp/B07FNW9FGJ?_encoding=UTF8&customId=B0752XJYNL&customizationToken=MC_Assembly_1%23B0752XJYNL&th=1'
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
    if page.status_code == 200:
        # Parse the HTML content
        soup1 = BeautifulSoup(page.content, "html.parser")
        
        # Make it pretty for easier reading and parsing
        soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
        
        # Find the title of the product
        title = soup2.find(id='productTitle').get_text()
        
        # Find the span with class "a-price-whole" to get the whole number part of the price
        price_whole = soup2.find('span', class_='a-price-whole').text.strip().replace('\n', '')
        
        # Find the span with class "a-price-fraction" to get the fraction part of the price
        price_fraction = soup2.find('span', class_='a-price-fraction').text.strip().replace('\n', '')
        
        # Combine the whole and fraction parts to get the complete price
        price = f"${price_whole}.{price_fraction}"
    price=price.strip()[1:]
    title=title.strip()
    import datetime

    today = datetime.date.today()

    print(today)
    with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)
    if(price<200):
         send_mail():

In [59]:
while(True):
    cheque_price()
    time.sleep(5)

2024-06-08
2024-06-08
2024-06-08
2024-06-08
2024-06-08
2024-06-08
2024-06-08
2024-06-08

KeyboardInterrupt:

In [60]:
import pandas as pd
df=pd.read_csv(r"C:\Users\a2z\Desktop\data anyalyst from job\python\AmazonWebScraperDataset.csv")
df

,Title,Price,Date
0,Funny Got Data MIS Data Systems Business Analy...,16 ...,2024-06-08
1,Funny Got Data MIS Data Systems Business Analy...,16 ...,2024-06-08
2,Funny Got Data MIS Data Systems Business Analy...,16 ...,2024-06-08
3,Funny Got Data MIS Data Systems Business Analy...,16 ...,2024-06-08
4,Funny Got Data MIS Data Systems Business Analy...,16 ...,2024-06-08
5,Funny Got Data MIS Data Systems Business Analy...,16 ...,2024-06-08
6,Funny Got Data MIS Data Systems Business Analy...,16 ...,2024-06-08
7,Funny Got Data MIS Data Systems Business Analy...,16 ...,2024-06-08
8,Funny Got Data MIS Data Systems Business Analy...,16 ...,2024-06-08
9,Funny Got Data MIS Data Systems Business Analy...,16 ...,2024-06-08
10,Funny Got Data MIS Data Systems Business Analy...,16 ...,2024-06-08
11,Funny Got Data MIS Data Systems Business Analy...,16 ...,2024-06-08

In [64]:
# import smtplib
# from email.mime.multipart import MIMEMultipart
# from email.mime.text import MIMEText

# def send_email(subject, body, to_email, from_email, from_email_password):
#     # Set up the server
#     smtp_server = "smtp.gmail.com"
#     smtp_port = 587

#     # Create the email
#     msg = MIMEMultipart()
#     msg['From'] = from_email
#     msg['To'] = to_email
#     msg['Subject'] = subject

#     # Attach the email body
#     msg.attach(MIMEText(body, 'plain'))

#     # Connect to the server
#     server = smtplib.SMTP(smtp_server, smtp_port)
#     server.starttls()  # Secure the connection
#     server.login(from_email, from_email_password)

#     # Send the email
#     server.send_message(msg)
#     server.quit()

# # Example usage
# subject = "Test Email"
# body = "This is a test email sent from Python."
# to_email = "muneebumer605@gmail.com"
# from_email = "muneebumer85@gmail.com"
# from_email_password = "Muneeb#031630"

# send_email(subject, body, to_email, from_email, from_email_password)